/* reset  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common  */
body, a {
    color: #2C2C2C;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


a {
    text-decoration: none;
}
.btn {
    background-color: #0061FF;
    color: #fff;
    padding: .5em 1em;
}




/* header */
header {
    background-color: #fff;

    width: 100%;
    padding: 1em;
}
header li {
    display: inline-block;
}
.nav-logo {
    vertical-align: bottom;
}

header > nav {
    width: 50%;
}
.nav-left {
    float: left;
    text-align: left;
}
.nav-left li {
    margin-right: 1.5em;
}
.nav-right {
    float: right;
    text-align: right;
}
.nav-right li {
    margin-left: 1.5em;
}