/* reset  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common  */
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #0061FF;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.separetor::after {
    content: "";
    display: inline-block;
    width: 20%;
    border-bottom: solid 1px #EBEBEC;
    text-align: left;
}

.col {
    float: left;
    width: 30%;
    margin-right: 5%;
}
.col:last-child,
.col:nth-child(3) {
    margin-right: 0;
}

.btn {
    background-color: #0061FF;
    color: #fff;
    padding: .5em 1em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.btn.btn-empty {
    background-color: unset;
    color: #000;
    border: solid 1px #000;
}
.btn.btn-white {
    background-color: #fff;
    color: #000;
    border: none;
}

.blue {
    color: #0061FF;
}
.gray {
    color: gray;
}

/* font  */
h1 {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 40px;
}
h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}
h4 {
    font-size: 18px;
    font-weight: 700;
}

.text-8 {
    font-size: 8px;
}
.text-10 {
    font-size: 10px;
}
.text-12 {
    font-size: 12px;
}
.text-14 {
    font-size: 14px;
}

/* header */
header {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1em;
}
header li {
    display: inline-block;
}
header a {
    color: #2C2C2C;
    font-size: 14px;
    text-decoration: none;
}
.nav-logo {
    vertical-align: bottom;
}

header > nav {
    width: 50%;
}
.nav-left {
    float: left;
    text-align: left;
}
.nav-left li {
    margin-right: 1.5em;
}
.nav-right {
    float: right;
    text-align: right;
}
.nav-right li {
    margin-left: 1.5em;
}

/* hero section  */
.hero {
    width: 100%;
    background-color: #B4D0E7;
    padding: 50px 0;
    margin-bottom: 120px;
}
.hero-container {
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
}
.hero-cta {
    float: left;
    width: 30%;
}
.hero img {
    float: right;
    width: 65%;
}
.hero .btn {
    margin: 1.25em 0 .5em;
}
.hero .arrow-down {
    margin-top: 1.5em;
    font-size: 2em;
}

/* plan section: radio botton */
form * {
    display: inline-block;
    font-size: .75em;
}
label {
    margin-right: 1em;
}

/* plan section: columns */
.columns {
    width: 100%;
    margin: 1.5em 0 2em;
}
.plan {
    border: solid 1px #EBEBEC;
}
.plan.col {
    height: 625px;
}
.row {
    width: 100%;
    border: solid 1px #EBEBEC;
}

.plan-head {
    width: 100%;
    border-bottom: solid 1px #DADADC;
    text-align: center;
    padding: .5em 0;
    margin-bottom: 1.5em;
}

.plan-container {
    padding: 0 1.25em;
    margin-bottom: 1.5em;
}

/* column content  */
.price {
    font-weight: 700;
    margin: .5em 0;
}
.price-info {
    font-size: .5em;
    color: #6B7A87;
}
.icon-list {
    margin: 1.25em 0;
}
.columns .btn {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.columns ul {
    margin: 1.5em 0 1.5em 1.5em;
}
.columns li {
    margin-bottom: 1em;
}

/* row content  */
.row .btn {
    width: 30%;
    float: right;
}
.row h4 {
    margin-bottom: 1em;
}
.row h5 {
    margin-bottom: 2em;
}

/* meet a partner section, slit in 2 */
.split-section {
    margin-top: 100px;
    margin-bottom: 70px;
}
.split-section > * {
    float: left;
    width: 50%;
}
.split-section div {
    padding: 2em 0 2em 2em;
}
.split-section * {
    margin-bottom: 1.5em;
}

/* operation section  */
.grid .col {
    margin-bottom: 70px;
}
.col img {
    width: 100%;
}
.grid h4 {
    margin-bottom: 1em;
}

/* mosaic section  */
.half-width {
    width: 50%;
}
.half-width:first-child {
    margin-top: 50px;
}
.half-width:last-child {
    margin-bottom: 50px;
}
.mosaic {
    width: 100%;
}

.big-square {
    background-color: #F5F5F5;
    float: left;
    width: 40vw;
    height: 30vw;
    padding: 2em;
}
.big-square p {
    margin-top: 3em;
}
.big-square img {
    width: 30%;
}

.squares-container {
    width: 30vw;
    height: 30vw;
    float: left
}
.square {
    width: 50%;
    height: 50%;
    float: left;
    color: #fff;
}
.square img {
    display: block;
    height: 100%;
    width: 70%;
    margin: auto;
    object-fit: contain;
    object-position: center;
}

/* mosaic colors */
.designit {
    background-color: #A2D39B;
    border: solid 1vw #D0E9CD;
}
.designit img {
    /* from black logo to white  */
    filter: invert(1);
}
.arizona {
    background-color: #61082B;
}
.florida {
    background-color: #0093CE;
}
.topps {
    background-color: #FF1C1C;
}
.world-bicycle {
    background-color: #D5001F;
}
.hearst-corp {
    background-color: #B4D0E7;
}
.clean-channel {
    background-color: #FFD830;
}
.lonely-planet {
    background-color: #0D2481;
}

/* mosaic call to action band  */
.cta-band {
    background-color: #B4D0E7;
    color: #61082B;
    width: 100%;
    height: 200px;
}
.cta-band div {
    padding: 80px 1em;
}
.cta-band h2 {
    width: 50%;
    float: left;
}
.cta-band .btn {
    float: right;
    width: 30%;
}

/* FAQ section  */
.faq {
    margin: 4em auto;
}
.faq ul {
    margin: 2em 0;
    border-top: solid 1px #EBEBEC;
    list-style: none;
}
.faq li {
    padding: 1em 0;
    border-bottom: solid 1px #EBEBEC;;
}
.faq-text {
    margin-top: 1em;
    display: none;
}
.faq h4 {
    display: inline-block;
    width: 95%;
    font-size: 14px;
}
.faq i {
    font-size: 12px;
}


/* footer  */
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 3em 0 2em;
}
/* footer > div {
    width: 80%;
    margin: auto;
} */
footer h4 {
    margin-bottom: .75em;
}
footer li {
    list-style-type: none;
    margin-bottom: .5em;
}
footer a {
    text-decoration: none;
    color: #fff;
}

.footer-col {
    float: left;
    width: 20%;
    margin-bottom: 4em;
}
 
.bottom-footer {
    color: #999999;
}
.bottom-footer::before {
    content: "";
    display: inline-block;
    width: 15%;
    border-top: solid 1px #999999;
    margin-bottom: 2em;
}
.bottom-footer i:first-child {
    margin-right: .4em;
}
.bottom-footer i:last-child {
    margin-left: .4em;
}