/* reset  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common  */
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #0061FF;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.separetor::after {
    content: "";
    display: inline-block;
    width: 20%;
    border-bottom: solid 1px #EBEBEC;
}

.col {
    float: left;
    width: 30%;
    margin-right: 5%;
}
.col:last-child,
.col:nth-child(3) {
    margin-right: 0;
}

.btn {
    background-color: #0061FF;
    color: #fff;
    padding: .5em 1em;
    display: inline-block;
    text-decoration: none;
}
.btn.btn-empty {
    background-color: unset;
    color: #000;
    border: solid 1px #000;
}

.blue {
    color: #0061FF;
}
.gray {
    color: gray;
}

/* font  */
h1 {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 40px;
}
h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}
h4 {
    font-size: 18px;
    font-weight: 700;
}

.text-8 {
    font-size: 8px;
}
.text-10 {
    font-size: 10px;
}
.text-12 {
    font-size: 12px;
}
.text-14 {
    font-size: 14px;
}

/* header */
header {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1em;
}
header li {
    display: inline-block;
}
header a {
    color: #2C2C2C;
    font-size: 14px;
    text-decoration: none;
}
.nav-logo {
    vertical-align: bottom;
}

header > nav {
    width: 50%;
}
.nav-left {
    float: left;
    text-align: left;
}
.nav-left li {
    margin-right: 1.5em;
}
.nav-right {
    float: right;
    text-align: right;
}
.nav-right li {
    margin-left: 1.5em;
}

/* hero section  */
.hero {
    width: 100%;
    background-color: #B4D0E7;
    padding: 50px 0;
    margin-bottom: 120px;
}
.hero-container {
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
}
.hero-cta {
    float: left;
    width: 30%;
}
.hero img {
    float: right;
    width: 65%;
}
.hero .btn {
    margin: 1.25em 0 .5em;
}
.hero .arrow-down {
    margin-top: 1.5em;
    font-size: 2em;
}

/* plan section: radio botton */
form * {
    display: inline-block;
    font-size: .75em;
}
label {
    margin-right: 1em;
}

/* plan section: columns */
.columns {
    width: 100%;
    margin: 1.5em 0 2em;
}
.plans.col {
    height: 625px;
    border: solid 1px #EBEBEC;
}

.row {
    width: 100%;
    border: solid 1px #EBEBEC;
}

.plan-head {
    width: 100%;
    border-bottom: solid 1px #DADADC;
    text-align: center;
    padding: .5em 0;
    margin-bottom: 1.5em;
}

.plan-container {
    padding: 0 1.25em;
    margin-bottom: 1.5em;
}

/* column content  */
.price {
    font-weight: 700;
    margin: .5em 0;
}
.price-info {
    font-size: .5em;
    color: #6B7A87;
}
.icon-list {
    margin: 1.25em 0;
}
.columns .btn {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.columns ul {
    margin: 1.5em 0 1.5em 1.5em;
}
.columns li {
    margin-bottom: 1em;
}

/* row content  */
.row .btn {
    width: 30%;
    float: right;
    text-align: center;
}
.row h4 {
    margin-bottom: 1em;
}
.row h5 {
    margin-bottom: 2em;
}

/* meet a partner section, slit in 2 */
.split-section {
    margin-top: 100px;
    margin-bottom: 70px;
}
.split-section > * {
    float: left;
    width: 50%;
}
.split-section div {
    padding: 2em 0 2em 2em;
}
.split-section * {
    margin-bottom: 1.5em;
}

/* operation section  */
.grid .col {
    margin-bottom: 70px;
}
.col img {
    width: 100%;
}
.grid h4 {
    margin-bottom: 1em;
}

/* mosaic section  */
.half-width {
    width: 50%;
}
.mosaic {
    width: 100%;
}
.square-left, 
.square-right {
    width: 15vw;
    height: 15vw;
    background-color: teal;
    border: yellow solid 1px;
}
.square-left {
    float: left;
}
.square-right {
    float: right;
}

.big-square {
    background-color: thistle;
    float: left;
    width: 40vw;
    height: 30vw;
}

.squares-container {
    width: 30vw;
    height: 30vw;
    float: left
}
.square {
    width: 50%;
    height: 50%;
    background-color: teal;
    border: yellow solid 1px;
    float: left;
}